<style>
h1 {
    font-size: 2.5em;
    color: #362;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Exo2', arial, sans-serif;
}

h5 {
    font-size: 1.1em;
    line-height: 0.4;
    color: #362;
    margin-bottom: 15px;
    font-family: 'Exo2', arial, sans-serif;
    max-width: 600px;
}


a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 20px;
    background-color: #332;
}

</style>
<body>
<h1>Dear {{ user.username }}</h1>
    <h5>Your password was changed successfully!</h5>
    <h5>Back to your profile:</h5>
    <h5><a href="{% url 'main' %}">Click here</a></h5>
</body>