{% extends 'index.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <script src="{% static 'login/js/login.js' %}"></script>
</head>
<h1>New password</h1>
<div class="login-modal__wrapper">
    <form class="login-modal__form login-modal__form--singin" action="" method="post">
        <div class="login-modal__wrap field">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="field"><label class="field__label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        </div>
        <button class="button button--small login-modal__login-submit" type="submit">Save new password</button>
    </form>
</div>
{% endblock %}l>