body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #575757;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
}

.btn-primary {
  --bs-btn-bg: #362;
  --bs-btn-border-color: #372;
  --bs-btn-hover-bg: #372;
}

.pagination {
  --bs-pagination-active-bg: #362;
  --bs-pagination-active-border-color: #372;
}
