{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'suve_main_tesla/css/style_tesla.css' %}" rel="stylesheet"/>
</head>
{% for product in product_data %}
<div class="content">

    <div id="tesla" class="product">
        <img src="{% static 'suve_main_apple/images/iphone-15-pro-finish-select-202309-6-7inch_GEO_US.webp' %}" alt="Tesla">
        <h3>{{ product.name }}</h3>
        <p>{{ product.rom }} GB</p>
        <p>Price ${{ product.price }}</p>
    </div>

</div>
{% endfor %}
{% endblock %}