<head>
    <title>Tesla|Suve</title>
</head>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'suve_main_tesla/css/style_tesla.css' %}" rel="stylesheet"/>
</head>
<div class="card-container">
{% for product in product_data %}
<div class="card" style="width: 18rem;">
  <img src="{{ product.photo }}" class="card-img-top" alt="Tesla_car">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p>{{ product.type }}</p>
    <p>Price ${{ product.price }}</p>
    <a href="{% url 'cart' %}" class="btn btn-primary">Add to cart</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}