<head>
    <title>Apple|Suve</title>
</head>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'suve_main_apple/css/style_apple.css' %}" rel="stylesheet"/>
</head>
{% for product in product_data %}
<div class="content">

    <div id="apple_watch" class="product">
        <img src="{% static 'suve_main_apple/images/ultra-band-unselect-gallery-1-202309.jpeg' %}" alt="Apple_watch">
        <h3>{{ product.name }}</h3>
        <p>{{ product.size }}"</p>
        <p>{{ product.connectivity }}</p>
        <p>{{ product.material }}</p>
        <p>Price ${{ product.price }}</p>
    </div>

</div>
{% endfor %}
{% endblock %}