{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main | Suve</title>
    <link type="text/css" href="{% static 'suve_main/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Suve: innovative technologies here</h1>
            <nav>
                <ul>
                    {% for route in routes %}
                    <li><a href="{% url route.url_name %}">{{ route.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <div class="container">
            <p>&copy; 2024 Suve, Inc.</p>
        </div>
    </footer>
</body>
</html>

