<head>
    <title>Apple|Suve</title>
</head>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" href="{% static 'suve_main_apple/css/style_apple.css' %}" rel="stylesheet"/>
</head>
<div class="card-container">
{% for product in product_data %}
<div class="card" style="width: 18rem;">
  <img src="{{ product.photo }}" class="card-img-top" alt="Macbook">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p>Diagonal: {{ product.diagonal }}"</p>
    <p class="card-text">Storage: {{ product.rom }} GB</p>
    <p class="card-text">Memory: {{ product.ram }} GB</p>
    <p class="card-text">Processor: {{ product.cpu }}</p>
    <p class="card-text">Graphics: {{ product.gpu }}</p>
    <p class="card-text">Price: ${{ product.price }}</p>
    <a href="{% url 'cart' %}" class="btn btn-primary">Add to cart</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
{% block navigation%}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
    <li class="page-link active">{{ p }}</li>
    {% elif p >= page_obj.number|add:-4 and p <= page_obj.number|add:4 %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
{% endblock %}
